:root {
  --vermelho: #e00208;
  --vermelhoclaro: #ff4b4b;
  --vermelhoescuro: #a50e18;
  --preto: #000;
  --branco: #fff;

  /* #c31c39  */
}

footer {
  position: relative;
  width: 100%;
  background: var(--vermelhoescuro);
  min-height: 100px;
  display: flex;
  flex-direction: column;
}
.footer-content {
  display: flex;
  padding: 0 30px;
}
.footer-left,
.footer-right {
  flex: 1;
}
.footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 60px;
}
.socials {
  display: flex;
  flex-direction: column;
}
.socials a {
  display: flex;
  align-items: center;
  opacity: 0.8;
  margin: 5px 10px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease;
}
.footer-right .socials a:hover {
  transform: translateY(-5px);
  opacity: 1;
}
.socials a .icon {
  font-size: 30px;
  margin-right: 5px;
}
.footer-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 250px;
  position: relative;
}

.footer-left .information-local a {
  color: #fff;
  text-decoration: none;
  opacity: 0.8;
  transition: 0.3s ease;
}
.footer-left .information-local a:hover {
  transform: translateY(-5px);
  opacity: 1;
}
.footer-left .img-logoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-left .img-logoFooter {
  height: 200px;
  border-spacing: 5px;
  margin-right: 10px;
  transition: 0.3s ease;
}

.footer-left .img-logoFooter:hover {
  transform: translateY(-5px);
}

.footer-left .information-local {
  display: flex;
  align-items: center;
  margin-left: 15px;
  text-align: left;
}

hr {
  margin-left: 5px;
  height: 100px;
}

/* =============================== Copyright bottom =============================== */

.copyright {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  color: #fff;
}
.copyright .copy {
  text-align: center;
}

/* =============================== 1000px =============================== */

@media (max-width: 1000px) {
  footer {
    flex-direction: column;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  .footer-left,
  .footer-right {
    justify-content: center;
    align-items: center;
  }

  /* ================================= 700px ============================ */
  footer .footer-left .img-logoFooter {
    display: none;
  }

  .footer-left .information-local {
    margin-bottom: 30px;
    text-align: center;
  }
  hr {
    display: none;
  }
  .footer-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social_icon {
    display: flex;
    flex-direction: row;
  }

  .copyright {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .copy {
    font-size: 12px;
    margin-top: 30px;
  }
}
